<div *ngIf="!data || data.length === 0" class="bg-light border rounded text-center py-5 w-100 shadow-sm my-3">
    <app-empty-state icon="fas fa-info-circle" title="No hay datos para mostrar">
    </app-empty-state>
</div>

<div class="row mt-3 mb-3" *ngIf="data && data.length > 0">

    <div class="col-12 col-sm-6 col-md-3 mb-4" *ngFor="let item of data">

        <div class="card h-100 shadow-sm text-center">

            <div class="card-header bg-white border-0 pt-4">
                <img [src]="item[imageField] || 'https://via.placeholder.com/150'" class="img-fluid rounded"
                    style="width: 150px; height: 150px; object-fit: cover;">
            </div>
            <div class="card-body py-2">

                <h6 class="fw-bold mb-2">
                    {{ item[firstNameField] }} {{ item[lastNameField] }}
                </h6>
                <div class="flex-grow-1">

                    <div *ngFor="let col of columns">

                        <p *ngIf="col.clave !== firstNameField 
                               && col.clave !== lastNameField 
                               && col.clave !== imageField" class="text-muted mb-1">
                            <strong>{{ col.etiqueta }}:</strong>
                            {{ item[col.clave] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>