<div class="table-responsive table-container">
    <table class="custom-table">

        <thead>
            <tr>
                <th *ngFor="let col of columns" class="text-center">
                    {{ col.etiqueta }}
                </th>

                <th *ngIf="hasActionButtons()" class="text-center">
                    Acciones
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let fila of data" class="table-row animate__animated animate__fadeInUp">

                <td *ngFor="let col of columns" class="text-center">
                    {{ getValue(fila, col.clave) }}
                </td>

                <td *ngIf="hasActionButtons()" class="actions-column">
                    <div class="action-buttons d-flex justify-content-center">

                        <app-button *ngIf="buttonsConfig.detail" icon="fas fa-info-circle" color="principal"
                            (click)="onDetail(fila)"></app-button>

                        <app-button *ngIf="buttonsConfig.update" icon="fas fa-sync-alt" color="actualizar"
                            (click)="onUpdate(fila)"></app-button>

                        <app-button *ngIf="buttonsConfig.activate" icon="fas fa-sign-out-alt" color="activar"
                            (click)="onActivate(fila)"></app-button>

                        <app-button *ngIf="buttonsConfig.deactivate" icon="fas fa-user-slash" color="principal"
                            (click)="onDeactivate(fila)"></app-button>

                        <app-button *ngIf="buttonsConfig.print" icon="fas fa-print" color="imprimir"
                            (click)="onPrint(fila)"></app-button>

                    </div>
                </td>
            </tr>
            <tr *ngIf="(data || []).length === 0">
                <td [attr.colspan]="columns.length + (hasActionButtons() ? 1 : 0)" class="text-center text-muted">
                    <div class="fs-1 text-secondary mb-3">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <h6 class="fw-semibold mb-0 text-secondary">
                        No hay datos para mostrar
                    </h6>
                </td>
            </tr>

        </tbody>
    </table>
</div>