
<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <div class="d-flex align-items-center gap-3">
            <button mat-icon-button (click)="sidenav.toggle()" class="sidenav-icon">
                <i class="fas fa-bars fa-lg" *ngIf="!sidenav.opened" style="font-size: 26px;"></i>
                <i class="fas fa-times fa-lg" *ngIf="sidenav.opened" style="font-size: 26px;"></i>
            </button>
            <div class="csa-emblem">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <span class="csa-brand-name">Colegio San Andrés</span>
        </div>
        <span class="example-spacer"></span>
        <div class="d-flex justify-content-center align-items-center my-2 d-none d-md-flex">
            <h1 class="mb-0">{{ username }}</h1>
            <h1 class="mb-0 ms-2">- Administrador</h1>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav mode="side" [opened]="false">
            <mat-list>
                <ng-container *ngFor="let menu of mainMenus">
                    <mat-list-item (click)="handleClick(menu)" style="cursor: pointer;">
                        <mat-icon *ngIf="menu.icon">{{ menu.icon }}</mat-icon>
                        <span>{{ menu.name }}</span>
                    </mat-list-item>
                    <ng-container *ngIf="menu.mostrarSubMenu && menu.children?.length">
                        <ng-container *ngFor="let sub of menu.children">
                            <mat-list-item (click)="handleClick(sub)" style="padding-left: 40px; cursor: pointer;">
                                <mat-icon *ngIf="sub.icon">{{ sub.icon }}</mat-icon>
                                <span>{{ sub.name }}</span>
                            </mat-list-item>
                            <ng-container *ngIf="sub.mostrarSubMenu && sub.children?.length">
                                <ng-container *ngFor="let sub2 of sub.children">
                                    <mat-list-item (click)="handleClick(sub2)"
                                        style="padding-left: 80px; cursor: pointer;">
                                        <mat-icon *ngIf="sub2.icon">{{ sub2.icon }}</mat-icon>
                                        <span>{{ sub2.name }}</span>
                                    </mat-list-item>
                                    <ng-container *ngIf="sub2.mostrarSubMenu && sub2.children?.length">
                                        <mat-list-item *ngFor="let sub3 of sub2.children"
                                            (click)="navigateTo(sub3.route)"
                                            style="padding-left: 120px; cursor: pointer;">
                                            <mat-icon *ngIf="sub3.icon">{{ sub3.icon }}</mat-icon>
                                            <span>{{ sub3.name }}</span>
                                        </mat-list-item>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>