.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    height: 100vh;
    font-family: var(--letra-principal);
}

.example-sidenav-container {
    flex: 1;
}

.csa-sidenav {
    width: 400px !important;
    background: var(--color-pagina-principal) !important;
    border-right: 1px solid var(--color-border) !important;
    box-shadow: 4px 0 20px var(--color-shadow) !important;
    display: flex !important;
    flex-direction: column !important;
}

.csa-content {
    background: var(--color-pagina-principal);
}

@media (max-width: 768px) {
    .csa-sidenav {
        width: 85vw !important;
    }
}

@media (max-width: 1023px) {
    .csa-sidenav {
        width: 260px !important;
    }
}

@media (max-width: 768px) {
    .csa-sidenav {
        width: 85vw !important;
        max-width: 320px !important;
    }
}