<div class="example-container">
  <app-toolbar
    [nameSchool]="nameSchool()"
    [username]="username()"
    [userRoleName]="userRoleName()"
    [isAdmin]="isAdmin()"
    [user]="user()"
    [sidenavOpened]="sidenav.opened"
    (toggleSidenav)="sidenav.toggle()"
  />

  <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="isMobile()">
    <mat-sidenav
      #sidenav
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile()"
      class="csa-sidenav"
    >
      <app-sidebar
        [mainMenus]="mainMenus()"
        [footerText]="footerText()"
        [isMobile]="isMobile()"
        [sidenavRef]="sidenav"
      />
    </mat-sidenav>

    <mat-sidenav-content class="csa-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
