<mat-nav-list class="csa-nav-list">
  @for (menu of mainMenus(); track menu.id) {
    <mat-list-item
      (click)="handleClick(menu)"
      [class.has-children]="hasChildren(menu)"
      [class.is-open]="menu.mostrarSubMenu"
      class="nav-item"
    >
      <div class="nav-item-inner">
        @if (menu.icon) {
          <mat-icon class="nav-icon">{{ menu.icon }}</mat-icon>
        }

        <span class="nav-label">{{ menu.name }}</span>

        @if (hasChildren(menu)) {
          <i
            class="fas nav-arrow"
            [class.fa-chevron-down]="!menu.mostrarSubMenu"
            [class.fa-chevron-up]="menu.mostrarSubMenu"
          >
          </i>
        }
      </div>
    </mat-list-item>

    @if (menu.mostrarSubMenu && hasChildren(menu)) {
      @for (sub of menu.children; track sub.id) {
        <mat-list-item (click)="handleClick(sub)" class="nav-item nav-item--sub">
          <div class="nav-item-inner">
            <span class="nav-sub-dot"></span>

            @if (sub.icon) {
              <mat-icon class="nav-icon">{{ sub.icon }}</mat-icon>
            }

            <span class="nav-label">{{ sub.name }}</span>

            @if (hasChildren(sub)) {
              <i
                class="fas nav-arrow"
                [class.fa-chevron-down]="!sub.mostrarSubMenu"
                [class.fa-chevron-up]="sub.mostrarSubMenu"
              >
              </i>
            }
          </div>
        </mat-list-item>

        @if (sub.mostrarSubMenu && hasChildren(sub)) {
          @for (sub2 of sub.children; track sub2.id) {
            <mat-list-item (click)="handleClick(sub2)" class="nav-item nav-item--sub2">
              <div class="nav-item-inner">
                <span class="nav-sub-dot nav-sub-dot--sm"></span>

                @if (sub2.icon) {
                  <mat-icon class="nav-icon">{{ sub2.icon }}</mat-icon>
                }

                <span class="nav-label">{{ sub2.name }}</span>

                @if (hasChildren(sub2)) {
                  <i
                    class="fas nav-arrow"
                    [class.fa-chevron-down]="!sub2.mostrarSubMenu"
                    [class.fa-chevron-up]="sub2.mostrarSubMenu"
                  >
                  </i>
                }
              </div>
            </mat-list-item>

            @if (sub2.mostrarSubMenu && hasChildren(sub2)) {
              @for (sub3 of sub2.children; track sub3.id) {
                <mat-list-item (click)="navigateTo(sub3.route)" class="nav-item nav-item--sub3">
                  <div class="nav-item-inner">
                    <span class="nav-sub-dot nav-sub-dot--xs"></span>

                    @if (sub3.icon) {
                      <mat-icon class="nav-icon">{{ sub3.icon }}</mat-icon>
                    }

                    <span class="nav-label">{{ sub3.name }}</span>
                  </div>
                </mat-list-item>
              }
            }
          }
        }
      }
    }
  }
</mat-nav-list>

<div class="sidenav-footer">
  <mat-icon>shield</mat-icon>
  <span>{{ footerText() }}</span>
</div>
